#intellij
.idea/

#terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/.terraformrc
**/terraform.rc
**/terraform.tfvars

#kubernetes
manifests/secrets/backend-secret.yaml
manifests/secrets/backend-ecr-secret.yaml
manifests/secrets/frontend-ecr-secret.yaml
manifests/secrets/runtime-ecr-secret.yaml
manifests/secrets/apps-ecr-secret.yaml
manifests/secrets/mongodb/mongodb-secret.yaml

#backend
backend/node_modules/
backend/.env

#runtime
runtime/node_modules/

#client-app
/client-app/node_modules/
