#intellij
.idea/

#terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/.terraformrc
**/terraform.rc
**/terraform.tfvars

#kubernetes
manifests/ecr-secret.yaml
manifests/ingress-issue/ecr-frontend-secret.yaml

#backend
backend/node_modules/
backend/.env


