#intellij
.idea/

#terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/.terraformrc
**/terraform.rc
**/terraform.tfvars

#kubernetes
manifests/secrets/backend-ecr-secret.yaml
manifests/secrets/frontend-ecr-secret.yaml

#backend
backend/node_modules/
backend/.env

#runtime
runtime/node_modules/


