.center {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-container {
  border: rgba(127,127,127,.4) 1px solid;
  margin: 20px 0;
}
