table {
  width: 100%;
}

td, th {
  width: 25%;
}

mat-header-cell {
  flex-grow: 1;
  margin: 15px 0;

  &.action-cell {
    justify-content: flex-end;
    padding: 0 24px 0 0;
    max-width: 24px;

    &--change-state {
      max-width: unset;
    }
  }
}

mat-cell {
  display: flex;
  flex-grow: 1;
  margin: 15px 0;

  &.action-cell {
    justify-content: flex-end;
    cursor: pointer;
    padding: 0 24px 0 0;
    max-width: 24px;

    &--delete {
      &:hover {
        color: red;
      }
    }

    &--change-state {
      max-width: unset;
      font-size: 14px;
    }
  }
}

mat-row {
  cursor: pointer;
}

.form--application {
  padding-top: 80px;
}
