html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #55c57a;
  line-height: 1.3;
  display: inline-block;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 24px;
  padding: 22px 48px;
  border-radius: 160px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #2e864b;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
